.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    max-width: 300px;
    border: 2px solid rgba(128, 128, 128, 0.123);
    border-radius: 2px;
    margin: 5px;
}

.wrapper div{
    padding: 12px;
    width: 50%;
    min-width: 120px;
    position: relative;
    text-align: left;
}

.wrapper input{
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 60%;
    margin: 0;
    padding: 0;
    left: -20px;
    bottom: 15%;
    z-index: 1;
}

.wrapper label{
    position: absolute;
    left: 25px;
    bottom: 10%;
    color:#a6a6a6;
    font-size: 13px;
}