input{
    background-color: rgb(48, 48, 48);
    height:20px;
    font-size:13px;
    color:#a6a6a6;
    border-radius: 2px;
    transition: color 0.5s;
    transition: background-color 0.5s ease-out;
    outline: none;
    border: 0;  
    margin: 2px;
}

input[type="color"]{
    width: 30px;
}

input:focus{
    color:#cccccc;
    background-color:#3c3c3c;
    border: 2px solid rgb(0, 119, 255);
}

.finput{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 3px;
    margin-bottom: 3px;
}

.labelText{
    margin-right: 5px;
    margin-top: 4px;
    font-size: 13px;
}

.inputText{
    width: 75px;
}

#text{
    width: 216px;
}

